fastapi
uvicorn[standard]
pydantic
sentence-transformers
motor
python-dotenv
transformers
torch
datasets
pytest
httpx
#pip install torch --index-url https://download.pytorch.org/whl/cpu.
#pip install torch transformers datasets pyyaml